@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;    
    background-color: #2c3238;
    color: white;
}

hr {
    height: 4px;
    background-color: #22272c;
    border: none;
}

#logo {
    width: 250px;
    background-color: white;
    cursor: pointer;
}

.container {
    padding: 50px 50px;
}

.big-link {
    font-size: 1.5em;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.big-link:hover {
    color: silver;
    transition: 0.3s;
}

#link {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

#link:hover {
    color: silver;
    transition: 0.3s;
    margin: 10px;
}