@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;900&display=swap');

@keyframes goodAnswerAnimation {
    from {background-color: #333a41;}
    to {background-color: green;}
}
@keyframes wrongAnswerAnimation {
    from {background-color: #333a41;}
    to {background-color: red;}
}
@keyframes newQuestion {
  from {margin-left: 800px;}
  to{margin-left:0px;}
}
body{
  background-color: #2c3238;
  font-family: 'Montserrat', sans-serif;
}
.wrapper{
  overflow: hidden;
  width: 80%;
  margin: 150px;
  border: 3px solid #22272c;
  background-color: #333a41;
}

ul {
  list-style: none;
}

.quizTitle {
  color: white;
}
.myQuestion  {
  color: white;
}
.myQuestion::first-letter{
  color: white;
}
.questionBox, .resultBox {
  padding: 20px;
  width: 80%;
  margin-left:0px;
}
.questionBox-new{
  padding: 20px;
  width: 80%;
  margin-left:0px;
  animation-name: newQuestion;
  animation-duration: 1s;
}

.myAnswer{
  width: 80%;
  text-align: center;
}
.answer{
  list-style-type: none;
  padding: 10px;
  background-color:#22272c;
  border:1px solid #22272c;
  color: white;
  border-radius: 12px;
  margin: 15px;
}
.answer:hover{
  background-color: #333a41;
  transition: 0.3s;
  cursor: pointer;
}
.right {
  padding: 10px;
  color:white;
  border:1px solid black;
  border-radius: 12px;
  margin: 5px;
  background-color: green;
  animation-name: goodAnswerAnimation;
  animation-duration: 2s;
}
.wrong{
  padding: 10px;
  color:white;
  border:1px solid black;
  border-radius: 12px;
  margin: 5px;
  background-color: red;
  animation-name: wrongAnswerAnimation;
  animation-duration: 2s;
}
