@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;900&display=swap');

body {
    background-color: #2c3238;
    font-family: 'Montserrat', sans-serif;
    margin-top: 20vh;
}

.blokjes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    text-align: center;
}

div {
    width: 200px;
    height: 200px;
    color: #ffffff;
    background-color: #22272c;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

.buttons {
    text-align: center;
}

#button1, #button2, #button3, #button4 {
    color: white;
    background-color: #333a41;
    border: none;
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
}

#button1:hover, #button2:hover, #button3:hover, #button4:hover {
    background-color: #22272c;
    transition: 0.2s;
}

.blokje--rood {
    transition: 3s;
    color: #ffffff;
    background-color: #ff0000;
}

.blokje--wit {
    transition: 3s;
    color: black;
    background-color: white;
}

.blokje--groter {
    transition: 3s;
    width: 240px;
    height: 240px;
    font-size: 25px;
    }

.blokje--rond {
    transition: 3s;
    color: white;
    border-radius: 100px;
    }